//import nextflow.util.MemoryUnit
//import nextflow.util.Duration

manifest {
    name = 'sc-variant-annotation-pipeline'
    author = 'Stalin Dany Shaji'
    description = 'Single-cell variant annotation pipeline'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '!>=22.04.0'
    defaultBranch = 'main'
}

profiles {


    standard {
        includeConfig 'conf/base.config'
    }

    docker {
        includeConfig 'conf/base.config'
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g) -v /media:/media'
        }
        process {
            container = 'sc-pipeline:1.0'
        }
    }

    test {
        includeConfig 'conf/test.config'
    }

    aws {
        includeConfig 'conf/aws.config'
        process.executor = 'awsbatch'
    }

    cluster {
        includeConfig 'conf/cluster.config'
        process.executor = 'slurm'
    }
}

params {

    // Input parameters
    input  = 'samplesheet.csv'
    outdir = "results"

    // Reference data
    genome         = 'GRCh38'
    fasta          = 'data/reference/genome.fa'
    gtf            = 'data/reference/annotation.gtf'
    known_variants = 'data/reference/variants.vcf.gz'

    // Pipeline options
    skip_qc        = false
    skip_filtering = false
    tools          = ['gatk', 'vep', 'snpeff']
    min_reads_per_cell = 1000
    min_mapping_rate   = 50
    max_duplicate_rate = 50

    // Container settings
    //docker_image    = 'sc-variant-annotation:latest'
    //docker_registry = 'docker.io/username'

    // Resource limits
    max_cpus   = 16
    max_memory = 64.GB
    max_time   = 240.h
}

process {
    
    scratch = true

    // ✅ APPLY GLOBALLY (IMPORTANT)
    stageInMode  = 'copy'
    stageOutMode = 'copy'

    // Default resources
    cpus = 2
    memory = 4.GB
    time = 2.h

    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: 'process_low' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withLabel: 'process_medium' {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }

    withLabel: 'process_high' {
        cpus = 8
        memory = 16.GB
        time = 12.h
    }
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
