manifest {
  name = 'sc-variant-annotation-pipeline'
  author = 'Stalin Dany Shaji'
  description = 'Single-cell variant annotation pipeline'
  mainScript = 'main.nf'
  version = '1.0.0'
  nextflowVersion = '!>=22.04.0'
  defaultBranch = 'main'
}

profiles{
standard{
includeConfig 'conf/base.config'
docker.enabled=false
}
docker{
includeConfig'conf/docker.config'
docker.enabled=true
}
test{
includeConfig'conf/test.config'
}
aws{
includeConfig'conf/aws.config'
process.executer='awsbatch'
}
cluster{
includeConfig'conf/cluster.config'
process.executer='slurm'
}
}

//Default parameters
params{
//input
input='samplesheet.csv'
outdir='results'
}

// References 
genome = 'GRCh38' 
fasta = 'data/reference/genome.fa' 
gtf = 'data/reference/annotation.gtf' 
known_variants = 'data/reference/variants.vcf.gz'

// Pipeline options 
skip_qc = false 
skip_filtering = false 
tools = ['gatk', 'vep', 'snpeff']
// Container settings
docker_image = 'sc-variant-annotation:latest'
docker_registry = 'docker.io/username'

// Resource limits
max_cpus = 16
max_memory = '64.GB'
max_time = '240.h'
}

// Error handling
errorStrategy {
on_error = 'retry'
max_retries = 3
}

// Reporting
timeline {
enabled = true
file = '${params.outdir}/pipeline_info/execution_timeline.html'
}
report {
enabled = true
file = '${params.outdir}/pipeline_info/execution_report.html'
}
trace {
enabled = true
file = '${params.outdir}/pipeline_info/execution_trace.txt'
}
