// Docker-specific configuration
docker {
enabled = true
fixOwnership = true
runOptions = '-u $(id -u):$(id -g)'
registry = params.docker_registry
image = "${params.docker_registry}/${params.docker_image}"
}

process {
withName: '.*' {
container = "${params.docker_registry}/${params.docker_image}"
}

withLabel: 'docker_aware' {
container = "${params.docker_registry}/${params.docker_image}"
}
}
